.navSection{
    border: 1px solid red;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    color: aqua;
}

.navSection ul li {
    display: inline-flex;
    list-style: none;
    margin: 20px;
}